<div class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-nav">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 text-center">
                    <p class=".insite-font-black semi-bold">Download IS Today</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-4">
                    <a class="btn btn-info .insite-font-white" href="#">Download iOS</a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-primary .insite-font-white" href="#">Download Android</a>
                </div>
            </div>
        </div>
    </div>
</div>
