<div class="container-fluid">
    <div class="navbar-nav">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6">
                <p class=".insite-font-black download text-center">Download IS Today</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-6">
                <a class="btn btn-info btn-lg btn-size insite-font-white" href="#">Download iOS</a>
            </div>
            <div class="col-xs-7 col-sm-6">
                <a class="btn btn-primary btn-lg btn-size insite-font-white" href="#">Download Android</a>
            </div>
        </div>
    </div>
</div>
