<section class="dataConsole" ng-init="vm.onInit">
    <div class="row">
    <span class="text-center" ng-bind="vm.username"></span>
    </div>
    <div class="row">
        <span class="text-center">
            <b>ETA</b>
        </span>
        <span class="text-center" ng-bind="vm.eta">
        </span>
    </div>
    <div class="row">
        <span class="text-center">
            <b>Destination</b>
        </span>
        <span class="text-center" ng-bind="vm.destination">
        </span>
    </div>
</section>
