@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;

@color_insite_ios: #f55a9e;
@color_insite_dark_gray: #9b9b9b;
@color_insite_light_gray: #c8c8c8;
@color_insite_off_White: #fff9fd;


* {
    /*-webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;*/
    font-family: "Reunion", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 400;*/
}

body {
    font-size: 13px;
    line-height: 23px;
    color: #000000;
    background: @color_insite_off_White;
    padding-top: 45px;
    -webkit-font-smoothing: antialiased;
}

.navbar {

}

.semi-bold {
    font-weight: 700;
}

.destinationView {
    background: @color_insite_light_gray;
}

.btn-primary {
    background: @color_insite_dark_gray;
    border-color: @color_insite_dark_gray;
}

.btn-info {
    background: @color_insite_ios;
    border-color: @color_insite_ios;
}

.btn-primary:hover {
    background: lighten(@color_insite_dark_gray, 20%);
    border-color: lighten(@color_insite_dark_gray, 20%);
}

.btn-info:hover {
    background: lighten(@color_insite_ios, 20%);
    border-color: lighten(@color_insite_ios, 20%);
}

.btn-primary:active:hover {
    background: lighten(@color_insite_dark_gray, 20%);
    border-color: lighten(@color_insite_dark_gray, 20%);
}

.btn-info:active:hover {
    background: lighten(@color_insite_ios, 20%);
    border-color: lighten(@color_insite_ios, 20%);
}

.insite-font-black {
    font-size: 16px;
    font-weight: 600;
    color: black
}

.insite-font-white {
    font-size: 16px;
    font-weight: 600;
    color: @color_insite_off_White
}



