<section class="destinationView" ng-init="vm.init()">
    <div class="row">
        <p class="text-center bold userNameText textSpacing" ng-bind="vm.user.username"></p>
    </div>
    <div class="row">
        <div class="textSpacing">
            <p class="text-center">
                <b>ETA</b>
            </p>
            <p class="text-center text-offset valueText" ng-bind="vm.user.eta"></p>
        </div>
        <div class="row">
            <div class="textSpacing">
                <p class="text-center">
                    <b>Destination</b>
                </p>

                <p class="text-center valueText" ng-bind="vm.user.destination"></p>
            </div>
        </div>
    </div>
</section>
